/* Base styles for all screen sizes */
html {
    background-color: #000114;
}

.container {
    position: relative;
    top:0vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.04vh;
    background-color: #000114;
}

.navbar-brand {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-underline-offset: 0;
    position: absolute;
    left: 1.2rem;
    top: 0.38vw;
}

.nav-links-container {
    position: relative;
    right: 1.2rem;
    top: 10px;
    display: flex;
    justify-content: end;
    gap: 20px; 
}

.navlink1, .navlink2, .navlink3 {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.navlink1:hover, .navlink2:hover, .navlink3:hover {
    font-weight: bold;
    text-decoration: none;
    color: #fffff0;
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media screen and (max-width: 1800px) {
    .nav-links-container {
        position: relative;
        display: flex;
        width: 100%;
        text-align: center;
    
    }

    .navlink1, .navlink2, .navlink3 {
        display: flex;
        margin-bottom: 10px; 
    }

    .container{
        margin-top: 2vh;
    }
}
